langchain==0.3.25
langchain-community==0.3.24
langchain-openai==0.3.17
langchain-groq==0.3.8
langchain-pinecone==0.2.5

pinecone-client

flask==3.1.1
sentence-transformers==4.1.0
pypdf==5.5.0
python-dotenv==1.1.0

-e .